@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);
body,h1,h2,h3,h4,h5,h6,div,p,blockquote,pre,address,ul,ol,li,dl,dt,dd,table,caption,th,td,form,fieldset,legend,hr,select,input,textarea{font-family:nanumgothic,'Nanum Gothic',"留묒� 怨좊뵓","Malgun Gothic","Helvetica Neue","Helvetica",verdana,sans-serif;margin:0;padding:0;font-size:13px;color:#666;line-height:170%;}
ul,ol{list-style:none;}
*+html table{border-collapse:collapse;}
img,fieldset,abbr,acronym{border:0;}
address,caption,cite,code,dfn,em,var{font-style:normal;font-weight:normal;}
input, button,textarea{padding:0;color:#666;font-size:100%;}
table{margin:0;padding:0;border-spacing:0;border:0;_border-collapse:collapse;width:100%;}
table{border-collapse:collapse;border-spacing:0}
table,table th,table td{border:0;}
hr{display:none}
a{color:#666;text-decoration:none;}
img{vertical-align:middle;}
select{font-size:12px;height:23px;vertical-align:middle;}

caption,legend{display:none;}
.hide{overflow:hidden;visibility:hidden;width:0;height:0;font-size:0;line-height:0;}
.hidden{display:none;}
.gLeft{float:left;}
.gRight{float:right;}

html,body {height:100%;}
body{background-color:#fff;}

#wrap{min-height:100%;height:auto !important;height:100%;margin:0 auto -114px;min-width:1094px;}

#header .bg,
#body .bg,
#footer .bg{position:relative;margin:0 auto;width:968px;}

#header{position:relative;border-bottom:2px solid #e7e7e7;z-index:100;height:100px;}
#header h1{position:absolute;top:48px;left:0;}

.mGnb{position:relative;margin-right:-30px;padding:28px 0 0 100px;z-index:200;}
.mGnb ul{padding:0 0 0 15px;}
.mGnb li{position:relative;float:left;margin:0 0 0 23px;text-align:center;}
.mGnb li strong a{display:block;font-size:15px;letter-spacing:-1px;text-align:center;padding:0 30px;line-height:74px;height:74px;}
.mGnb li div{display:none;position:absolute;top:72px;left:0;border-top:1px solid #e7e7e7;width:100%;z-index:100;}
.mGnb li div ul{margin:13px 0 0;padding:0;width:auto;zoom:1;}
.mGnb li div ul:after{display:block;clear:both;content:''}
.mGnb li div li{float:none;;margin:0;}
.mGnb li div li a,
.mGnb li div li .txt{display:block;color:#666;color:#707275;font-size:12px;text-align:center;padding:0 0 0 ;line-height:27px;height:27px;}
.mGnb li div li a:hover{color:#000;font-weight:bold;}
.mGnb li.selected strong a{color:#000;}
#gnbSub{display:none;position:absolute;top:102px;right:-41px;background-color:#fff;width:851px;height:245px;}
/*
.mGnb li.b strong a{padding-left:25px;}
.mGnb li.b div li a{padding-left:11px;}
.mGnb li.c strong a{padding-left:16px;}
.mGnb li.c div li a{padding-left:1px;}
.mGnb li.d strong a{padding-left:35px;}
.mGnb li.d div li a{padding-left:18px;}
.mGnb li.e strong a{padding-left:33px;}
.mGnb li.e div li a{padding-left:18px;}
.mGnb li.f strong a{padding-left:20px;}
.mGnb li.f div li a{padding-left:4px;}
.mGnb li.selected strong a{color:#000;}
*/

#footer{position:relative;background-color:#616161;height:114px;}
#footer .con1{position:relative;background-color:#f2f2f2;padding:40px 0 0;height:275px;zoom:1;}
#footer .con1:after{display:block;clear:both;content:''}
#footer .con1 h3{border-bottom:1px solid #7f7f7f;padding:0 0 3px;}
#footer .con1 .gLeft{width:730px;}
#footer .con1 .gLeft ul{padding:20px 0 0;}
#footer .con1 .gLeft li{float:left;width:127px;}
#footer .con1 .gLeft li a,
#footer .con1 .gLeft li .txt{display:block;font-size:12px;line-height:24px;height:24px;}
#footer .con1 .gLeft li strong a{color:#242424;}
#footer .con1 .gLeft li.c{width:152px;}
#footer .con1 .gLeft li.d{width:112px;}
#footer .con1 .gLeft li.e{width:110px;}
#footer .con1 .gLeft li.f{width:102px;}
#footer .con1 .gLeft ul ul{padding:0;}
#footer .con1 .gRight{width:190px;}
#footer .con1 .gRight ul{padding:18px 0 0;}
#footer .con1 .gRight li a{display:block;background:url(../images/ico_sns.png) 13px 3px no-repeat;font-size:12px;padding:0 0 0 44px;line-height:30px;height:30px;}
#footer .con1 .gRight li.iTwitter a{background-position:13px -97px;}
#footer .con1 .gRight li.iYoutube a{background-position:13px -197px;}
#footer .con2 .bg{height:114px;}
#footer .con2 .logo{position:absolute;top:38px;}
#footer .con2 .family{position:absolute;top:38px;right:0;}
#footer .con2 .mFamily a{display:block;background:url(../images/k_footer_v2.png) 0 -100px no-repeat;text-indent:-9999px;font-size:0;width:70px;height:37px;}
#footer .con2 .addr{position:relative;background:url(../images/k_footer_v2.png) 0 36px no-repeat;margin:0 0 0 96px;padding:36px 0 0;width:432px;height:37px;}
#footer .con2 .addr .iPrivacy,
#footer .con2 .addr .iCenter{position:absolute;top:33px;left:338px;display:block;text-indent:-9999px;font-size:0;height:18px;}
#footer .con2 .addr .iPrivacy{left:285px;width:80px;}
#footer .con2 .addr .iCenter{left:338px;width:45px;}

.mKeymain{position:relative;margin:0 auto;height:500px;}
.mKeymain .jcarousel{overflow:hidden;width:100%;height:500px;}
.mKeymain ul{width:20000em;position:relative;list-style:none;margin:0;padding:0}
.mKeymain ul li{position:relative;float:left;height:500px;}
.mKeymain .cnt{position:absolute;bottom:21px;left:50%;margin:0 0 0 -477px;text-align:center;width:960px;z-index:100;}
.mKeymain .cnt a{display:inline-block;background-color:#fff;margin:0 1px;text-indent:-9999px;font-size:0;width:15px;height:15px;}
.mKeymain .cnt a.selected{background-color:#000;}
.mKeymain .cover{position:absolute;bottom:0;left:50%;margin-left:-600px;background-color:#000;filter:alpha(opacity=50);opacity:0.5;-moz-opacity:0.5;width:1200px;height:90px;}
.mKeymain .txt{position:absolute;bottom:0;left:50%;margin-left:-484px;display:block;color:#fff;font-size:14px;line-height:130%;text-align:left;width:968px !important;height:90px;overflow:hidden;}
.mKeymain .txt strong{display:block;color:#fff;margin:16px 0 8px;}
.mKeymain .txt strong{font-size:30px;}
.mKeymain .paging{position:relative;margin:0 auto;width:1100px;}
.mKeymain .jcarousel-control-prev,
.mKeymain .jcarousel-control-next{position:absolute;top:-275px;display:block;background:url(../images/ico_prev2.png) 50% 50% no-repeat;text-indent:-9999px;filter:alpha(opacity=0);opacity:0;-moz-opacity:0;font-size:0;width:32px;height:50px;}
.mKeymain .jcarousel-control-prev{left:-20px;}
.mKeymain .jcarousel-control-next{right:-20px;background-image:url(../images/ico_next2.png);}

.mKeymain .txt2{position:absolute;top:140px;left:50%;margin-left:-484px;}
.mKeymain .txt2 .coverCon{position:absolute;top:0;left:0;background-color:#fff;filter:alpha(opacity=70);opacity:0.7;-moz-opacity:0.7;width:362px;height:185px;}
.mKeymain .txt2 .txtCon{position:absolute;top:0;left:0;color:#000;font-size:14px;font-weight:bold;}
.mKeymain .txt2 .txtCon a{display:block;color:#000;font-size:14px;padding:45px 0 0 40px;width:322px;height:140px;}
.mKeymain .txt2 .txtCon .tx1{display:block;font-weight:bold;margin:0 0 8px;}
.mKeymain .txt2 .txtCon .tx2{display:block;font-size:25px;letter-spacing:-1px;margin:0 0 7px;}

.mKeyvisual{position:relative;margin:0 auto 5px;height:405px;}
.mKeyvisual .img img{border:1px solid #d6d6d6;}
.mKeyvisual .cover{position:absolute;bottom:45px;left:0;background-color:#000;filter:alpha(opacity=70);opacity:0.7;-moz-opacity:0.7;width:304px;height:95px;}
.mKeyvisual .txt{position:absolute;bottom:20px;left:30px;color:#fff;font-size:13px;width:304px;height:95px;}
.mKeyvisual .txt em{font-size:20px;}

.mKeyvisual2{position:relative;margin:0 auto 5px;height:405px;z-index:10;}
.mKeyvisual2 .img img{border:1px solid #d6d6d6;}
.mKeyvisual2 .cover{position:absolute;bottom:45px;left:0;background-color:#000;filter:alpha(opacity=70);opacity:0.7;-moz-opacity:0.7;width:304px;height:95px;}
.mKeyvisual2 .txt{position:absolute;bottom:20px;left:30px;color:#fff;font-size:13px;width:304px;height:95px;}
.mKeyvisual2 .txt strong{display:block;font-size:20px;}
.mKeyvisual2 .jcarousel{width:100%;overflow:hidden;height:405px;}
.mKeyvisual2 ul{width:20000em;position:relative;list-style:none;margin:0;padding:0}
.mKeyvisual2 ul li{float:left;text-align:center;}
.mKeyvisual2 ul li img{border:1px solid #d6d6d6;}
.mKeyvisual2 .cnt{position:absolute;bottom:0;right:0;text-align:right;width:968px;z-index:110;}
.mKeyvisual2 .cnt a{display:inline-block;background-color:#808080;margin:0 1px;text-indent:-9999px;font-size:0;width:15px;height:15px;}
.mKeyvisual2 .cnt a.selected{background-color:#000;}

.mKeyvisual2.thumb{height:477px;}
.mKeyvisual2.thumb .cnt{bottom:-5px;}
.mKeyvisual2.thumb .cnt a{background:url(../images/thumb_lgdisplay.jpg) 0 0 no-repeat;width:115px;height:72px;}
.mKeyvisual2.thumb .cnt .n2{background-position:-117px 0;}
.mKeyvisual2.thumb .cnt .n3{background-position:-234px 0;}
.mKeyvisual2.thumb .cnt .n4{background-position:-351px 0;}
.mKeyvisual2.thumb .cnt .n5{background-position:-468px 0;}
.mKeyvisual2.thumb .cnt .n6{background-position:-585px 0;}

.mKeyvisual2.thumb .cnt .n1.selected{background-position:0 -100px;}
.mKeyvisual2.thumb .cnt .n2.selected{background-position:-117px -100px;}
.mKeyvisual2.thumb .cnt .n3.selected{background-position:-234px -100px;}
.mKeyvisual2.thumb .cnt .n4.selected{background-position:-351px -100px;}
.mKeyvisual2.thumb .cnt .n5.selected{background-position:-468px -100px;}
.mKeyvisual2.thumb .cnt .n6.selected{background-position:-585px -100px;}

.mKeyvisual2.mKeyS1dnc .cnt a{background-image:url(../images/thumb_s1dnc.jpg);}
.mKeyvisual2.mKeyToscana .cnt a{background-image:url(../images/thumb_toscana.jpg);}
.mKeyvisual2.mKeyJangan .cnt a{background-image:url(../images/thumb_jangan.jpg);}
.mKeyvisual2.mKeyGil .cnt a{background-image:url(../images/thumb_gil.jpg);}
.mKeyvisual2.mKeyIloveyryy .cnt a{background-image:url(../images/thumb_iloveyryy.jpg);}
.mKeyvisual2.mKeyMediipium .cnt a{background-image:url(../images/thumb_medipium.jpg);}
.mKeyvisual2.mKeyJapan .cnt a{background-image:url(../images/thumb_japan.jpg);}
.mKeyvisual2.mKeyjfk .cnt a{background-image:url(../images/thumb_jfk.jpg);}
.mKeyvisual2.mKeySmu .cnt a{background-image:url(../images/thumb_smu.jpg);}
.mKeyvisual2.mKeySun .cnt a{background-image:url(../images/thumb_sun.jpg);}
.mKeyvisual2.mKeySungshin .cnt a{background-image:url(../images/thumb_sungshin.jpg);}
.mKeyvisual2.mKeyWsu .cnt a{background-image:url(../images/thumb_wsu.jpg);}
.mKeyvisual2.mKeyHufs .cnt a{background-image:url(../images/thumb_hufs.jpg);}
.mKeyvisual2.mKeyJungkwan .cnt a{background-image:url(../images/thumb_jungkwan.jpg);}
.mKeyvisual2.mKeyMbc .cnt a{background-image:url(../images/thumb_mbc.jpg);}
.mKeyvisual2.mKeySoil .cnt a{background-image:url(../images/thumb_soil.jpg);}
.mKeyvisual2.mKeyGggi .cnt a{background-image:url(../images/thumb_gggi.jpg);}
.mKeyvisual2.mKeyCni .cnt a{background-image:url(../images/thumb_cni.jpg);}
.mKeyvisual2.mKeySsl1 .cnt a{background-image:url(../images/thumb_ssl1.jpg);}
.mKeyvisual2.mKeySsl2 .cnt a{background-image:url(../images/thumb_ssl2.jpg);}
.mKeyvisual2.mKeySsfire .cnt a{background-image:url(../images/thumb_ssfire.jpg);}
.mKeyvisual2.mKeyGaya .cnt a{background-image:url(../images/thumb_gaya.jpg);}
.mKeyvisual2.mKeyDaesang .cnt a{background-image:url(../images/thumb_daesang.jpg);}
.mKeyvisual2.mKeyOpenbase .cnt a{background-image:url(../images/thumb_openbase.jpg);}
.mKeyvisual2.mKeyWebtour .cnt a{background-image:url(../images/thumb_webtour.jpg);}
.mKeyvisual2.mKeyAltlasbx .cnt a{background-image:url(../images/thumb_altlasbx.jpg);}
.mKeyvisual2.mKeyHansung .cnt a{background-image:url(../images/thumb_hansung.jpg);}
.mKeyvisual2.mKeySeohwa .cnt a{background-image:url(../images/thumb_seohwa.jpg);}
.mKeyvisual2.mKeyGggisd .cnt a{background-image:url(../images/thumb_gggisd.jpg);}


/*
.mKeyvisual2.thumb{bottom:30px;height:480px;}
.mKeyvisual2.thumb .cnt a{background:url(../images/thumb_lgdisplay.jpg) 0 0 no-repeat;margin-left:2px;width:115px;height:72px;}
*/

.mKeysub{background:url(../images/k_keysub.jpg) 50% 0 no-repeat #c6d8dd;height:143px;}
.mKeysub .cover{display:block;background-color:#959595;width:163px;height:143px;}

#body{padding:0 0 154px;}
#body .bg{padding:10px 0 0;zoom:1;}
#body .bg:after{display:block;clear:both;content:''}
#body .secondary{float:left;width:235px;}
#body .secondary.t2{position:relative;z-index:100;}
#body .secondary.t2 .mLnb{margin-top:-72px;}
#body .content{float:right;padding:36px 0 0;width:700px;}
#body .content.t2{padding:0 0 30px;}


span.radio{display:inline-block;background:url(../images/ico_radio.png) 0 0 no-repeat;vertical-align:-3px;width:22px;min-height:16px;}
span.checkbox{display:inline-block;background:url(../images/ico_checkbox.png) 0 0 no-repeat;vertical-align:-4px;width:22px;min-height:16px;}
.select{display:block;background:url(../images/ico_select.png) 100% 50% no-repeat;border:1px solid #d1d1d1;color:#777;padding:0 35px 0 18px;min-width:87px;line-height:22px;height:21px;}
select.styled{position:absolute;top:0;left:1px;margin-top:0;width:100%;opacity:0;filter:alpha(opacity=0);z-index:5;height:21px;}

.mSelect{display:inline-block;position:relative;background:url(../images/k_select1.png) 0 1px repeat-x #fff;cursor:pointer;}

.it{background:url(../images/k_it.png) 0 0 repeat-x;border:1px solid #dadada;color:#555;padding:0 0 0 10px;vertical-align:middle;width:180px;line-height:23px;height:21px;}
.if{background-color:#fff;border:0;vertical-align:middle;color:#555;line-height:24px;height:22px;}
.mTextarea{display:block;border:1px solid #dadada;color:#555;padding:0 0 0 10px;}
.mTextarea textarea{border:0;padding:10px 0;width:100%;}

.mAgree{margin:25px 10px 0;}
.mAgree .scroll{background-color:#f1f1f1;color:#777;font-size:11px;padding:15px;height:140px;overflow:hidden;overflow-y:scroll;}
.mAgree .agree{text-align:right;margin-top:5px;}
.mAgree .agree label{display:inline-block;font-size:12px;margin-right:0;min-width:254px;}

.ic,
.ir{vertical-align:-3px;margin-right:3px;}

.mBc{position:absolute;top:13px;right:3px;color:#888;font-size:11px;font-family:dotum,nanumgothic,'Nanum Gothic',"留묒� 怨좊뵓","Malgun Gothic";}
.mBc a{color:#888;font-family:dotum,nanumgothic,'Nanum Gothic',"留묒� 怨좊뵓","Malgun Gothic";}
.mBc span{display:block;float:left;line-height:22px;height:20px;}
.mBc .iHome{display:block;float:left;background:url(../images/ico_home.png) 0 6px no-repeat;text-indent:-9999px;font-size:0;width:9px;line-height:22px;height:20px;}
.mBc .bar{background:url(../images/ico_bar.png) 50% 6px no-repeat;text-indent:-9999px;font-size:0;width:21px;}
.mBc .selected,
.mBc .selected a{color:#333;}

.mPag.t2{margin-top:-20px;}
.mPag{margin:17px 0;line-height:normal;text-align:center;}
.mPag a,
.mPag strong{display:inline-block;background:url(../img/bar_pag.png) 0 50% no-repeat;color:#555;text-decoration:none;margin-left:-4px;vertical-align:middle;font-size:12px;padding:0 7px;line-height:16px;height:16px;}
.mPag strong{font-weight:bold;}
.mPag .nb{background-image:none;}
.mPag .first,
.mPag .last,
.mPag .prev,
.mPag .next{position:relative;display:inline-block;background:url(../images/k_pag.png) 0 0 no-repeat;text-indent:-9999px;font-size:0;width:15px;height:16px;overflow:hidden;padding:0;margin:0;z-index:10;}
.mPag .prev{background-position:-25px 0;margin-right:5px;}
.mPag .next{background-position:-50px 0;margin-left:5px;}
.mPag .last{background-position:-75px 0;}

.mPag1.line{border-top:1px solid #d6d6d6;margin:30px 0 0;padding:30px 0 0;}
.mPag1{margin:65px 0;line-height:normal;text-align:center;}
.mPag1 a,
.mPag1 strong{display:inline-block;border:1px solid #efefef;background-color:#fff;color:#999;text-decoration:none;margin:0 0 0 -1px;vertical-align:middle;font-size:12px;padding:0 7px;min-width:12px;line-height:26px;height:26px;}
.mPag1 strong{background-color:#999;color:#fff;font-weight:bold;}
.mPag1 .nb{background-image:none;}
.mPag1 .first,
.mPag1 .last,
.mPag1 .prev,
.mPag1 .next{position:relative;display:inline-block;background:url(../images/k_pag.png) 0 0 no-repeat #ebebeb;text-indent:-9999px;font-size:0;width:26px;height:26px;overflow:hidden;padding:0;margin:0;z-index:10;}
.mPag1 .prev{background-position:-50px 0;margin-right:8px;}
.mPag1 .next{background-position:-100px 0;margin-left:8px;}
.mPag1 .last{background-position:-150px 0;}

.mSearch{margin:25px 0 0;text-align:center;}
.mSearch .it,
.mSearch .mSelect,
.mSearch .btn{vertical-align:middle;}
.mSearch .mSelect .select{background-image:url(../images/ico_select2.png);text-align:left;}
.mSearch .it{width:140px;}
.mSearch .btn{margin-right:10px;}

.mLnb{border:1px solid #e5e5e5;padding:14px 31px 15px;}
.mLnb li{border-top:1px solid #e5e5e5;}
.mLnb li.first{border-top:0;}
.mLnb li a,
.mLnb li .tx{display:block;color:#333;font-size:15px;padding:0 0 0 5px;line-height:52px;height:52px;}
.mLnb li.selected a{color:#000;font-weight:bold;}
.mLnb li.selected ul{display:block;}
.mLnb li.selected li a{font-weight:normal;}
.mLnb li ul{display:none;margin:-7px 0 0;padding:0 0 20px;}
.mLnb li li{border:0;background:none;}
.mLnb li li a{color:#666;font-size:12px;line-height:21px;height:21px;}
.mLnb li li.selected a{color:#000;font-weight:bold;text-decoration:underline;}
.mLnb li .ls-1{letter-spacing:-1px;}

.mLink li{margin:10px 0 0;}
.mLink li a{display:block;background:url(../images/ico_link.png) 38px 0 no-repeat #f5f5f5;border:1px solid #dbdbdb;color:#666;padding:0 0 0 87px;line-height:45px;height:45px;}
.mLink li.b a{background-position:38px -57px;}
.mLink li.c a{background-position:38px -114px;}

.mButton1{padding:10px 0 0;text-align:center;zoom:1;}
.mButton1:after{display:block;clear:both;content:''}
.mButton1 a{margin:0 3px;}
.mButton1 .gLeft a{margin:0 2px 0 0;}
.mButton1 .gRight a{margin:0 0 0 2px;}

.mButton1.top{margin-top:-42px;}
.mButton1.mt10{margin-top:10px;}
.mButton1.mt20{margin-top:20px;}
.mButton1.mt30{margin-top:30px;}

.mBtn1{display:inline-block;background-color:#a6a6a6;color:#fff;text-align:center;min-width:140px;line-height:35px;height:35px;}
.mBtn1.gray{background-color:#666;}

.mBtn1.mid{min-width:10px;padding:0 10px;line-height:27px;height:27px;}


.mTitle1{color:#a0a0a0;font-size:18px;margin:0 0 26px;padding:0 0 0 2px;}
.mTitle1 strong{display:block;color:#231916;font-size:30px;}
.mTitle1 strong em{font-size:15px;vertical-align:2px;font-weight:bold;}

.mTitle1.t2{font-size:23px;margin-top:32px;margin-bottom:25px;}
.mTitle1.t2 strong{font-size:28px;margin-top:-8px;}
.mTitle1.t2 .fs35{font-size:35px;}

.mTitle2{background:url(../images/k_title1t3.png) 100% 11px no-repeat;color:#a0a0a0;font-size:23px;margin:32px 0 0;padding:0 0 0 2px;height:94px;}
.mTitle2 strong{display:block;color:#231916;font-size:35px;margin-top:-8px;}
.mTitle2 strong em{color:#727172;font-size:26px;}

.mTitle2.raplas{background-image:none;}
.mTitle2.newiris{background-image:url(../images/k_title1newiris.png);}
.mTitle2.newvrex{background-image:url(../images/k_title1newvrex.png);}
.mTitle2.cc{background-image:url(../images/k_title1cc.png);}
.mTitle2.plus{background-image:url(../images/k_title1plus.png);}
.mTitle2.pluss{background-image:url(../images/k_title1pluss.png);}
.mTitle2.plusex{background-image:url(../images/k_title1plusex.png);}
.mTitle2.is4{background-image:url(../images/k_title1t4is.png);}
.mTitle2.flot{background-image:url(../images/k_title1tflot.png);}

.mTitle3{margin:36px 0 0 1px;}
.mTitle3 h3{color:#a0a0a0;font-size:18px;}
.mTitle3 h3 .tx1{color:#666;padding-left:5px;}
.mTitle3 p{color:#333;font-weight:bold;}
.mTitle3 p.txt1{color:#333;font-size:20px;font-weight:bold;margin:12px 0 0;}
.mTitle3 .img{display:block;margin:25px 0 0 -1px;}

.mTitle3.t2{margin:59px 0 0 1px;}
.mTitle3.t2 h3{color:#333;font-size:28px;}
.mTitle3.t2 h3 em{display:block;color:#a0a0a0;font-size:18px;font-weight:bold;margin:-32px 0 -15px;}
.mTitle3.t2 .img{margin-top:20px;}

.mTitle4{color:#333;font-weight:normal;font-size:20px;margin:-8px 0 8px;}
.mTitle4 em{font-weight:bold;padding-left:4px;}

.mTitle5{color:#333;font-size:16px;margin-top:18px;}
.mTitle5.t2{color:#333;font-size:16px;margin-top:23px;}
.mTitle5 em{display:block;color:#666;font-size:14px;margin-top:-3px;}

.mBox1{border:1px solid #d6d6d6;background-color:#f5f5f5;margin:12px 0 0;padding:18px 0;}
.mBox1 ul{zoom:1;}
.mBox1 ul:after{display:block;clear:both;content:''}
.mBox1 li{float:left;text-align:center;margin-left:73px;width:184px;}
.mBox1 li .tx1{display:block;color:#888;font-size:14px;font-weight:bold;margin:0 0 6px;}
.mBox1 li .img{display:block;margin:0 0 8px;min-height:41px;}
.mBox1 li .tx2{display:block;color:#333;font-weight:bold;font-size:18px;}
.mBox1 li.a{margin-left:0;}


.mInfo1{color:#333;font-size:12px;}

.mInfo2{color:#333;font-size:14px;margin-top:-4px;line-height:150%;}
.mInfo2.ls-1{letter-spacing:-1px;}

.mInfo3{color:#333;font-size:20px;font-weight:bold;line-height:150%;}
.mInfo3 .img{display:block;padding:4px 0 35px;}

.mBoard1{position:relative;margin:33px 0 0;}
.mBoard1 table{border-top:2px solid #d6d6d6;}
.mBoard1 th,
.mBoard1 td{border-bottom:1px solid #d6d6d6;text-align:center;}
.mBoard1 thead th{color:#333;line-height:52px;height:52px;}
.mBoard1 td{padding:15px 0;}
.mBoard1 .left{text-align:left;}
.mBoard1 .left2{text-align:left;padding-left:20px;}
.mBoard1 .article{background-color:#fcfcfc;text-align:left;padding-left:20px;}
.mBoard1 .article2{background-color:#fff;text-align:left;padding:16px 20px 20px;}
.mBoard1 .article2 .title{display:block;font-size:30px;margin:8px 0 10px;line-height:130%;}
.mBoard1 .article2 .img{margin:17px 0;}
.mBoard1 .article2 .img2{display:block;margin:17px auto;text-align:center;}
.mBoard1 .article2 .img2 .desc{clear:both;display:block;padding:8px 15px 6px;background:#ebebeb;font-size:12px;line-height:16px;letter-spacing:-0.5px;color:#747474;text-align:left;font-family:dotum;font-size:11px;}
.mBoard1 .article2 .img2 .im{display:inline-block;}
.mBoard1 .article2 .info{font-size:12px;}
.mBoard1 .article2 .info.mb10{margin-bottom:10px;}
.mBoard1.fs12 th,
.mBoard1.fs12 td{font-size:12px;}
.mBoard1.fs12 td{padding:11px 0;}

.mTab1{margin:50px 0 0;}
.mTab1 li{float:left;width:249px;}
.mTab1 li a{display:block;background:url(../images/tab_partner2.png) 0 0 no-repeat;text-indent:-9999px;font-size:0;height:35px;}
.mTab1 li.b{width:247px;}
.mTab1 li.b a{background-position:-249px 0;}
.mTab1 li.c{width:250px;}
.mTab1 li.c a{background-position:-496px 0;}
.mTab1 li.a.selected a{background-position:0 -50px;}
.mTab1 li.b.selected a{background-position:-249px -50px;}
.mTab1 li.c.selected a{background-position:-496px -50px;}

.mTab2{margin-top:27px;}
.mTab2 ul{zoom:1;}
.mTab2 ul:after{display:block;clear:both;content:''}
.mTab2 li{float:left;background-color:#e8e8e8;margin-left:10px;width:132px;height:122px;}
.mTab2 li.a{margin-left:0;}
.mTab2 li a{display:block;background:url(../images/k_tab2_1.png) 50% 100% no-repeat;color:#707070;font-size:14px;font-weight:bold;line-height:120%;padding:14px 0 0;text-align:center;height:108px;}
.mTab2 li.b a{background-image:url(../images/k_tab2_2.png);}
.mTab2 li.c a{background-image:url(../images/k_tab2_3.png);}
.mTab2 li.d a{background-image:url(../images/k_tab2_4.png);}
.mTab2 li.e a{background-image:url(../images/k_tab2_5.png);}
.mTab2 li.selected a{color:#333;}
.mTab2 li.a a:hover,
.mTab2 li.a.selected{background-color:#e6ddd1;}
.mTab2 li.b a:hover,
.mTab2 li.b.selected{background-color:#e1e5f3;}
.mTab2 li.c a:hover,
.mTab2 li.c.selected{background-color:#d1e2eb;}
.mTab2 li.d a:hover,
.mTab2 li.d.selected{background-color:#d8e8dd;}
.mTab2.col3 li{width:226px;}
.mTab2.col4 li{width:166px;}

.mTab2.col1{}
.mTab2.col1 li.e{float:right;width:237px;height:84px;}
.mTab2.col1 li.e a{background-position:164px 20px;padding:24px 78px 0 0;height:60px;}

.mTab3.mtT1{margin:10px 0 0;}
.mTab3.mtT2{margin:20px 0 0;}
.mTab3{margin:25px 0 0;}
.mTab3 ul{zoom:1;}
.mTab3 ul:after{display:block;clear:both;content:''}
.mTab3 li{float:left;width:50%;}
.mTab3 li a{display:block;background-color:#e8e8e8;color:#333;font-size:14px;font-weight:bold;text-align:center;margin-left:10px;line-height:50px;height:50px;}
.mTab3 li.first a{margin-left:0;}
.mTab3 li.selected a,
.mTab3 li a:hover{background-color:#e1e5f3;}
.mTab3 li.brown.selected a,
.mTab3 li.brown a:hover{background-color:#e6ddd1;}
.mTab3 li.blue.selected a,
.mTab3 li.blue a:hover{background-color:#d1e2eb;}
.mTab3 li.green.selected a,
.mTab3 li.green a:hover{background-color:#e6ebd0;}

.mTab3.t2{margin:10px 0 20px;}

.mTab3.col3 li a{margin-left:11px;}
.mTab3.col3 li.first a{margin-left:0;}
.mTab3.col3 li.brown{width:226px;}
.mTab3.col3 li.blue{width:237px;}
.mTab3.col3 li.green{width:236px;}

/*
.mTab3 li.brown a{background-color:#e6ddd1;}
.mTab3 li.blue a{background-color:#d1e2eb;}
.mTab3 li.green a{background-color:#e6ebd0;}
*/


#index #header{border-bottom:0;}
#index #body{padding-bottom:0;}
#index .mGnb li div{border-top:1px solid #cdcdcd;}
#index #footer{margin-top:50px;height:429px;}

.mMain1{position:relative;margin:12px 0 0;height:438px;}

.mMain2{position:relative;margin:10px 0 0;height:343px;}

.mAs{background:url(../images/k_as.png) 50% 100% no-repeat #dbe3bc;padding:31px 0 0 32px;width:260px;height:312px;}
.mAs h3{color:#272e34;font-size:25px;margin:0 0 7px;}
.mAs .txt{color:#7f7f7f;font-size:15px;line-height:150%;}
.mAs dl{margin:10px 0 0;}
.mAs dt{display:none;}
.mAs dd.time{background:url(../images/ico_time.png) 2px 0 no-repeat;color:#878c74;font-weight:bold;font-size:11px;margin:0 0 -5px;padding:0 0 0 20px;}
.mAs dd.tel{color:#6d715e;font-size:32px;font-weight:bold;}

.mNews{position:absolute;top:0;left:302px;background-color:#f2f2f2;width:666px;height:119px;}
.mNews h3{float:left;color:#272e34;font-size:25px;margin:18px 0 0 38px;}
.mNews .jcarousel{margin:14px 0 0 120px;width:501px;overflow:hidden;height:90px;}
.mNews ul{width:20000em;position:relative;list-style:none;margin:0;padding:0}
.mNews ul li{float:none;margin:0 0 0;}
.mNews ul li .row1{margin:0 0 3px;}
.mNews ul li a{color:#7f7f7f;}
.mNews ul li .date{display:block;color:#808080;font-size:11px;margin:-4px 0 0;}
.mNews .paging{position:absolute;top:51px;right:17px;}
.mNews .paging .jcarousel-control-prev,
.mNews .paging .jcarousel-control-next{display:block;background:url(../images/ico_prev.png) 0 0 no-repeat;text-indent:-9999px;font-size:0;width:13px;height:13px;}
.mNews .paging .jcarousel-control-prev{left:-125px;}
.mNews .paging .jcarousel-control-next{right:-125px;background-image:url(../images/ico_next.png);}

.mAgent{position:absolute;top:129px;left:302px;background-color:#fff;background:url(../images/k_agent.png) 100% 42px no-repeat;border:1px solid #e5e5e5;}
.mAgent a{display:block;padding:42px 0 0 38px;width:288px;height:170px;}
.mAgent h3{position:absolute;top:42px;left:38px;color:#272e34;font-size:25px;margin:0 0 7px;}
.mAgent .txt{display:block;margin:50px 0 0;color:#7f7f7f;font-size:14px;line-height:150%;}

.mAgent2{margin:20px 0 0;}
.mAgent2 .search .it,
.mAgent2 .search .btn,
.mAgent2 .search .mSelect{vertical-align:middle;}
.mAgent2 .search .it{width:260px;margin-left:7px;}
.mAgent2 .search .btn{margin-left:7px;}
.mAgent2 .result{margin-top:15px;font-size:12px;}
.mAgent2 .detail{margin:26px 0 0;}
.mAgent2 .detail .map{border:1px solid #d6d6d6;height:358px;}
.mAgent2 .detail .explain{background-color:#f1f1f1;padding:17px 0 8px 19px;}
.mAgent2 .detail .explain .tit{display:block;color:#333;font-size:15px;}
.mAgent2 .detail .explain dl{margin:10px 0 0;}
.mAgent2 .detail .explain dt{float:left;color:#333;}
.mAgent2 .detail .explain dd{color:#777;padding:0 0 8px 87px;}
.mAgent2 .mBoard1{margin:43px 0 0;}

.mCatalog{position:absolute;top:129px;left:640px;background-color:#e6ddd1;background:url(../images/k_catalog.png) 100% 35px no-repeat #e6ddd1;}
.mCatalog a{display:block;padding:42px 0 0 38px;width:288px;height:170px;}
.mCatalog h3{position:absolute;top:42px;left:38px;color:#272e34;font-size:25px;margin:0 0 7px;}
.mCatalog .txt{display:block;margin:50px 0 0;color:#7f7f7f;font-size:14px;line-height:150%;}

.mCatalog{position:absolute;top:129px;left:640px;background-color:#e6ddd1;background:url(../images/k_catalog.png) 100% 35px no-repeat #e6ddd1;}
.mCatalog a{display:block;padding:42px 0 0 38px;width:288px;height:170px;}
.mCatalog h3{position:absolute;top:42px;left:38px;color:#272e34;font-size:25px;margin:0 0 7px;}
.mCatalog .txt{display:block;margin:50px 0 0;color:#7f7f7f;font-size:14px;line-height:150%;}

.mBabber{position:absolute;top:0;left:0;width:292px;height:438px;}

.mBanner{position:absolute;top:0;left:0;background:url(../images/img_banner1.png) 0 0 no-repeat;width:292px;height:438px;}
.mBanner .txt{font-size:12px;color:#7f7f7f;font-weight:bold;padding:52px 0 0 50px;}

.mEvent{position:absolute;top:0;left:0;background:url(../images/k_main1.png) 0 0 no-repeat;text-align:center;width:292px;height:438px;}
.mEvent h3{display:none;}
.mEvent .txt{color:#272e34;font-size:14px;font-weight:bold;margin:100px 0 0;text-align:center;line-height:150%;height:127px;}
.mEvent .txt strong{font-size:18px;}
.mEvent .tit{display:block;color:#005b7f;font-size:14px;text-align:center;}
.mEvent .tit span{background:url(../images/ico_event.png) 0 1px no-repeat;padding:0 0 0 23px;}
.mEvent dl{padding:4px 0 0 6px;}
.mEvent dt{display:none;}
.mEvent dd{margin:0 0 1px;}
.mEvent dd .it2{background-color:#fff;border:0;color:#bebebe;font-size:11px;padding:0 0 0 10px;width:212px;line-height:22px;height:20px;}
.mEvent .btn1{display:inline-block;background-color:#1673a2;color:#fff;font-size:14px;font-weight:bold;text-align:center;margin:10px 0 0;min-width:57px;height:20px;line-height:20px;}
.mEvent .btn2{display:inline-block;background:url(../images/ico_arrwhite.png) 100% 50% no-repeat #2a2d34;color:#fff;font-size:11px;font-weight:bold;text-align:center;margin:10px 0 0;padding:0 16px 0 7px;line-height:22px;height:20px;}
.mEvent .chk{display:block;color:#7f7f7f;font-size:10px;letter-spacing:0;margin:8px 0 0 58px;text-align:left;line-height:120%;}
.mEvent .chk .checkbox{margin:0 0 0 2px;vertical-align:5px;}
.mEvent .chk .tx{display:inline-block;padding:0 0 0 0;}

.mOffice{position:absolute;top:0;left:302px;background-color:#fff;background:url(../images/k_office.png) 100% 40px no-repeat;border:1px solid #e5e5e5;padding:45px 0 0 38px;width:288px;height:167px;}
.mOffice .link{display:block;position:absolute;top:0;left:0;text-indent:-9999px;font-size:0;width:328px;height:214px;}
.mOffice h3{letter-spacing:-1px;margin:0 0 6px;}
.mOffice .txt{color:#7f7f7f;font-size:14px;}
.mOffice .txt em{display:block;color:#272e34;font-size:25px;font-weight:bold;letter-spacing:-1px;margin:0 0 6px;}
.mOffice ul{margin:18px 0 0 -2px;}
.mOffice li{float:left;background:url(../images/ico_arrgray.png) 0 50% no-repeat;margin:0 0 8px;padding:0 0 0 10px;}
.mOffice li.a,
.mOffice li.d{padding-left:0;background:none;}
.mOffice li span{display:block;background:url(../images/ico_office01.png) 0 0 no-repeat;color:#7f7f7f;font-weight:bold;font-size:12px;padding:0 0 0 9px;width:71px;line-height:23px;height:23px;}
.mOffice li.b span{background-image:url(../images/ico_office02.png);}
.mOffice li.c span{background-image:url(../images/ico_office03.png);}
.mOffice li.d span{background-image:url(../images/ico_office04.png);}
.mOffice li.e span{background-image:url(../images/ico_office05.png);}

.mForm1{margin:15px 0 0;}
.mForm1 dl{border-top:2px solid #ededed;}
.mForm1 dt{float:left;color:#333;font-size:12px;padding:0 0 0 10px;width:100px;line-height:40px;height:38px;}
.mForm1 dd{border-bottom:1px solid #ededed;color:#777;font-size:12px;padding:7px 0 7px 115px;/*line-height:40px;*/min-height:23px;}
.mForm1 dd label{margin-right:42px;}
.mForm1 dd label .ic{margin-right:5px;}
.mForm1 dd .bar{padding:0 2px;}

.mList1{position:absolute;top:224px;left:302px;width:328px;height:214px;}
.mList1 .img{position:absolute;top:0;left:0;background-color:#000;}
.mList1 .img img{filter:alpha(opacity=60);opacity:0.6;-moz-opacity:0.6;}
.mList1 .con{position:absolute;top:0;left:0;}
.mList1 a{display:block;padding:42px 0 0 38px;width:288px;height:170px;}
.mList1 h3{position:absolute;top:116px;left:38px;color:#fff;font-size:12px;}
.mList1 .txt{display:block;font-weight:bold;margin:99px 0 0;color:#fff;font-size:25px;letter-spacing:-1px;line-height:110%;}
.mList1 .txt em{display:block;font-weight:bold;margin:0 0 15px;}

.mList1.white .img{background-color:#fff;}
.mList1.hover.white .cover{background-color:#fff;}

.mList1.hover .img img{filter:alpha(opacity=100);opacity:1;-moz-opacity:1;}
.mList1.hover .cover{position:absolute;bottom:7px;left:0;background-color:#000;filter:alpha(opacity=65);opacity:0.65;-moz-opacity:0.65;width:284px;height:104px;}

.mNProduct{top:0;left:640px;}
.mNProduct h3{top:123px;left:36px;}
.mNProduct .txt{display:block;font-size:14px;letter-spacing:0;padding:13px 0 0;}
.mNProduct .txt em{font-size:28px;letter-spacing:-1px;margin:0 0 10px -2px;}

.mPerfor{left:640px;}
.mPerfor h3{color:#7f7f7f;}
.mPerfor .txt{color:#7f7f7f;font-size:14px;padding:3px 0 0;}
.mPerfor .txt em{color:#272e34;font-size:25px;margin:0 0 12px;}

.mImage{margin:30px 0 0;}
.mImage.mtT1{margin:25px 0 0;}

.mImage1 ul{zoom:1;}
.mImage1 h4{color:#333;font-size:20px;margin:0 0 10px;}
.mImage1 ul:after{display:block;clear:both;content:''}
.mImage1 li{float:left;margin:0 0 0 11px;width:226px;}
.mImage1 li.first{margin-left:0;}
.mImage1 li .img{display:block;margin:0 0 15px;}
/*.mImage1 li .img img{border:1px solid #d6d6d6;}*/
.mImage1 li em{display:block;color:#333;font-weight:bold;font-size:14px;margin:0 0 4px;}
.mImage1 li .txt,
.mImage1 li p{display:block;color:#777;letter-spacing:-1px;}

.mImage1.col2 ul{margin-bottom:30px;}
.mImage1.col2 li{width:343px;}
.mImage1.col2 li .txt{font-size:12px;letter-spacing:0;}

.mImage2{margin:35px 0 0;}
.mImage2 h4{color:#333;font-size:20px;margin:0 0 10px;}
.mImage2 li{margin:0 0 10px;zoom:1;}
.mImage2 li:after{display:block;clear:both;content:''}
.mImage2 li .img{display:block;float:left;}
.mImage2 li .img img{border:1px solid #d6d6d6;}
.mImage2 li .txt{float:left;margin:20px 0 0 27px;width:447px;}
.mImage2 li em{display:block;color:#333;font-weight:bold;font-size:14px;margin:0 0 1px;}
.mImage2 li p{color:#777;font-size:12px;}

.mImage3{position:relative;margin:21px 0 0;padding:5px 0 0 142px;}
.mImage3 h4{position:absolute;top:3px;left:0;color:#333;line-height:150%;font-size:20px;}
.mImage3 .info{color:#777;font-size:14px;line-height:150%;}
.mImage3 .img{margin:30px 0 0;}
.mImage3.t2{margin-top:60px;}
.mImage3.t3{margin-top:60px;}

.mImage4{margin:21px 0 0;}
.mImage4 h4{color:#333;font-size:20px;margin:0 0 10px;}
.mImage4 ul{zoom:1;}
.mImage4 ul:after{display:block;clear:both;content:''}
.mImage4 li{float:left;margin:0 0 0 13px;width:165px;height:350px;}
.mImage4 li.first{margin-left:0;}
.mImage4 li .img{display:block;margin-bottom:14px;}
.mImage4 li .img img{border:1px solid #d6d6d6;}
.mImage4 li em{display:block;color:#333;font-weight:bold;font-size:12px;margin:0 0 2px;line-height:150%;}
.mImage4 li p{color:#777;font-size:11px;line-height:180%;margin-right:-3px;}
.mImage4 li.col2{width:343px;height:auto !important;}
.mImage4 li.col1{margin-left:0;padding:0 0 36px;width:auto;height:auto !important;}
.mImage4 li.col1 .img img{border:0;}

.mImage4.mtT1{margin-top:57px;}
.mImage4.t2 li{height:320px;}
.mImage4.t3 li{height:310px;}
.mImage4.t4 li{height:290px;}
.mImage4.tAuto ul{margin-bottom:40px;}
.mImage4.tAuto li{height:auto;}

.mImage4T2{margin:21px 0 0;}
.mImage4T2 h4{color:#333;font-size:20px;margin:0 0 20px;}
.mImage4T2 ul{zoom:1;}
.mImage4T2 ul:after{display:block;clear:both;content:''}
.mImage4T2 li{float:left;margin:0 0 0 13px;width:165px;}
.mImage4T2 li.first{margin-left:0;}
.mImage4T2 li .img{display:block;margin-bottom:14px;}
.mImage4T2 li p{color:#777;font-size:11px;font-weight:bold;margin-right:-3px;padding:0 0 0 20px;}
.mImage4T2 li p.t2{padding-left:5px;}
.mImage4T2 li p .t{display:block;color:#333;font-weight:bold;}
.mImage4T2 li p .t .c{display:inline-block;color:#777;margin-left:5px;}
.mImage4T2 li p .c{display:block;margin:0 0 5px;}

.mImage4T2.t2 li{margin-left:8px;width:132px;}
.mImage4T2.t2 li p{padding-left:0;letter-spacing:-1px;}

.mImage4T2.col3 li{width:224px;}
.mImage4T2.wAuto li{width:auto;}

.mImage5 h4{text-align:left;color:#333;font-size:20px;margin:0 0 8px;}
.mImage5 ul{margin:0 0 20px;zoom:1;}
.mImage5 ul:after{display:block;clear:both;content:''}
.mImage5 li{float:left;margin:0 0 40px 14px;}
.mImage5 li.mtT1{margin-left:44px;}
.mImage5 li.first{margin-left:0;}

.mImage5.mtT1{margin-top:60px;}

.mImage6{margin:21px 0 0;}
.mImage6 h4{color:#333;font-size:20px;margin:0 0 10px;}
.mImage6 ul{margin:0 0 20px;zoom:1;}
.mImage6 ul:after{display:block;clear:both;content:''}
.mImage6 li{float:left;margin:0 0 0 13px;width:343px;min-height:342px;}
.mImage6 li.first{margin-left:0;}
.mImage6 li .img{display:block;margin-bottom:16px;}
.mImage6 li .img img{border:1px solid #d6d6d6;}
.mImage6 li div{color:#777;font-size:12px;line-height:160%;}
.mImage6 li .row.t2{margin-top:-1px;}
.mImage6 li .row.t2 .tx2,
.mImage6 li .row.t2 .tx3{vertical-align:20px;}
.mImage6 li .tx1,
.mImage6 li .tx2{display:inline-block;color:#333;min-width:78px;}
.mImage6 li .tx2{min-width:54px;}
.mImage6 li .ls-1{letter-spacing:-1px;}
.mImage6 li .tx1{width:160px;}
.mImage6 li .tx2{width:70px;}

.mImage7{margin:21px 0 0;}
.mImage7 h4{color:#333;font-size:20px;margin:0 0 10px;}
.mImage7 ul{margin:0 0 20px;zoom:1;}
.mImage7 ul:after{display:block;clear:both;content:''}
.mImage7 li{float:left;margin:0 0 36px 13px;width:343px;}
.mImage7 li.first{margin-left:0;}
.mImage7 li .img{display:block;margin-bottom:16px;}
.mImage7 li .img img{border:1px solid #d6d6d6;}
.mImage7 li em{display:block;color:#333;font-weight:bold;font-size:14px;margin:0 0 1px;}
.mImage7 li .txt{display:block;}
.mImage7 li div{color:#777;font-size:12px;line-height:160%;}
.mImage7 li .t{display:inline-block;color:#333;min-width:58px;}

.mImage8{margin:27px 0 0;}
.mImage8 h4,
.mImage8 h4 a{color:#333;font-size:15px;}
.mImage8 h4 em{display:block;font-weight:bold;font-size:20px;}
.mImage8 .txt1{margin:10px 0 0;line-height:160%;}
.mImage8 .img{margin:21px 0 0;}
.mImage8 ul{margin:-5px 0 0;zoom:1;}
.mImage8 ul:after{display:block;clear:both;content:''}
.mImage8 li{float:left;margin:27px 0 0 10px;width:345px;}
.mImage8 li.first{margin-left:0;}
.mImage8 li .img{display:block;margin-bottom:20px;}
.mImage8 li .txt{padding:10px 0 0 3px;}
.mImage8 li .txt .ti{display:block;color:#333;font-size:20px;margin:0 0 3px;}
.mImage8 li .txt .ti2{display:block;color:#333;font-size:15px;font-weight:bold;}
.mImage8 li .txt .tx{margin:12px 0 0;line-height:160%;text-align:justify;}

.mImage9{margin:27px 0 0;}
.mImage9 h4{color:#333;font-size:15px;margin:-2px 0 17px;}
.mImage9 h4.mbT1{margin-bottom:13px;}
.mImage9 h4 em{display:block;font-size:20px;font-weight:bold;}
.mImage9 h5{color:#333;font-size:20px;margin:-5px 0 9px;}
.mImage9 h5.first{margin-top:-5px;}
.mImage9 h5.t3{font-size:15px;margin:-12px 0 24px;}
.mImage9 h5.mbT1{margin-bottom:23px;}
.mImage9 h5.mtT1{margin-top:-4px;}
.mImage9 .txt1{margin:0 0 26px;line-height:160%;text-align:justify;}
.mImage9 .txt2{margin:0 0 26px 36px;line-height:160%;text-align:justify;}
.mImage9 .img{margin:0 0 27px;}

.mImage10{margin:20px 0 0;}
.mImage10 .info{color:#333;font-size:20px;font-weight:bold;line-height:150%;}
.mImage10 ul{margin:20px 0 0;zoom:1;}
.mImage10 ul:after{display:block;clear:both;content:''}
.mImage10 li{float:left;margin:0 0 0 11px;width:226px;}
.mImage10 li .txt{display:block;margin:18px 0 0 2px;}
.mImage10 li .ti{display:block;color:#333;font-size:16px;margin-bottom:4px;}
.mImage10 li.first{margin-left:0;}

.mImage11{margin:20px 0 0;}
.mImage11 .info{color:#333;font-size:20px;font-weight:bold;line-height:150%;}
.mImage11 .con1{border-top:2px solid #ededed;margin:24px 0 0;padding:40px 0 0;}
.mImage11 .con2{border-top:1px solid #ededed;margin:44px 0 0;padding:40px 0 0;}
.mImage11 h4{color:#333;font-size:16px;}
.mImage11 .img{margin:9px 0 0;}
.mImage11 .con2 .img{margin-top:22px;}

.mImage12{background:url(../images/img_recurit6_1.png) 100% 100% no-repeat;min-height:553px;}
.mImage12 .info{color:#333;font-size:20px;font-weight:bold;line-height:150%;}
.mImage12 .con1{border-top:2px solid #ededed;margin:24px 0 0;zoom:1;}
.mImage12 .con1:after{display:block;clear:both;content:''}
.mImage12 .gLeft,
.mImage12 .gRight{float:left;width:245px;}
.mImage12 h4{color:#333;font-size:15px;padding:21px 0 0;}
.mImage12 p{color:#333;}
.mImage12 li{color:#666;padding:0 0 0 4px;line-height:160%;}

.mImage13{margin:20px 0 0;}
.mImage13 h4{color:#333;font-size:20px;margin:0 0 6px;}
.mImage13 h5{color:#333;font-size:16px;}
.mImage13 h6{color:#333;padding:15px 0 0;}
.mImage13 h6.line{border-top:1px solid #ededed;margin-top:2px;padding-top:25px;width:460px;}
.mImage13 .info{color:#333;font-size:13px;}
.mImage13 .con1{position:relative;border-top:2px solid #ededed;margin:24px 0 0;padding:25px 0 60px 3px;}
.mImage13 .con1 .img{position:absolute;bottom:0;right:0;}
.mImage13  ul{margin:18px 0 0;zoom:1;}
.mImage13  ul:after{display:block;clear:both;content:''}
.mImage13  li{float:left;line-height:160%;margin:0 0 25px;width:235px;}
.mImage13  li .ti{display:block;margin:0 0 -18px;}
.mImage13 .con2{position:relative;border-top:1px solid #ededed;margin:30px 0 0;padding:25px 0 0;}
.mImage13 .con2 ul{margin-top:11px;}
.mImage13 .con2 li .ti{margin-left:3px;}
.mImage13 .con2 .img{position:absolute;bottom:0;right:0;}

.mImage14{margin:20px 0 0;}
.mImage14 .info{color:#333;font-size:20px;font-weight:bold;line-height:150%;}
.mImage14 ul{padding:22px 0 14px;zoom:1;}
.mImage14 ul:after{display:block;clear:both;content:''}
.mImage14 li{float:left;margin:0 0 0 14px;width:343px;}
.mImage14 li.first{margin-left:0;}
.mImage14 li .img{display:block;margin:0 0 19px;}
.mImage14 li .ti{display:block;font-weight:normal;font-size:20px;margin-bottom:2px;}
.mImage14 li .ti2{display:block;font-weight:bold;font-size:13px;}
.mImage14 li .tx{border-top:1px solid #ededed;font-size:12px;margin:5px 0 0;padding:6px 0 0;line-height:180%;}

.mImage15{margin:0;}

.mImage16 h4{color:#333;font-size:20px;margin:0 0 10px;}
.mImage16 .info{color:#777;font-size:14px;}
.mImage16 .img1{text-align:center;padding:25px 0 0;}
.mImage16 ul{margin:40px 0 0;}
.mImage16 li{position:relative;margin:0 0 20px;zoom:1;}
.mImage16 li:after{display:block;clear:both;content:''}
.mImage16 li .img{float:left;width:465px;}
.mImage16 li .txt{float:right;width:222px;}
.mImage16 li em{display:block;color:#333;font-weight:bold;font-size:12px;margin:0 0 2px;line-height:150%;}
.mImage16 li p{color:#777;font-size:11px;line-height:180%;margin-right:-3px;}
.mImage16 li.t1 .img{float:left;width:145px;}
.mImage16 li.t1 .txt{float:right;width:535px;}

.mImage17{position:relative;margin:30px 0 0;}
.mImage17 .txt{position:absolute;top:0;right:0;width:212px;}
.mImage17 dl{margin:16px 0 0;}
.mImage17 dt{color:#333;font-size:16px;font-weight:bold;border-bottom:1px solid #d6d6d6;margin:0 0 13px;padding:0 0 10px;line-height:130%;}
.mImage17 dd{color:#666;margin:0 0 46px;line-height:160%;}

.mImage17.ssl1 .txt{top:362px;left:0;width:430px;}
.mImage17.atlasbx{border-bottom:1px solid #ededed;zoom:1;}
.mImage17.atlasbx:after{display:block;clear:both;content:''}
.mImage17.atlasbx .txt{position:static;float:right;width:580px;}

.mImage18{margin:75px 0 0;}
.mImage18 h4{color:#333;font-size:20px;margin:0 0 15px;}
.mImage18.mtT1{margin:0 0 30px;}

.mImage19{margin:21px 0 0;}
.mImage19 h4{color:#333;font-size:20px;margin:0 0 20px;}
.mImage19 ul{zoom:1;}
.mImage19 ul:after{display:block;clear:both;content:''}
.mImage19 li{margin:0 0 40px;}
.mImage19 li .con{font-size:11px;color:#333;font-weight:bold;margin:20px 0 0;zoom:1;}
.mImage19 li .con:after{display:block;clear:both;content:''}
.mImage19 li .con .lt,
.mImage19 li .con .rt{float:left;font-size:11px;color:#333;font-weight:bold;width:50%;}
.mImage19 li .con .t{display:inline-block;padding-right:5px;}
.mImage19 li .con .c{color:#777;}
.mImage19 li .con.mt0{margin-top:0;}
.mImage19 li .con.mlT1{margin-left:48px;}
.mImage19 li .con.mlT2{margin-left:15px;}
.mImage19 li .con.mlT3{margin-left:10px;}
.mImage19 li .con.mlT4{margin-left:33px;}
.mImage19 li .con.mlT5{margin-left:20px;}
.mImage19 li .con.mlT6{margin-left:30px;}
.mImage19 li .con.center{text-align:center;}

.mImage19.t2 li{float:left;margin-right:-1px;}

.mImage19.t3 ul{margin:0 -15px 0 -33px;}
.mImage19.t3 li{float:left;}


.mText1{border-top:2px solid #ededed;margin:30px 0 0;}
.mText1 dt{float:left;border-bottom:1px solid #ededed;color:#333;padding:0 0 0 10px;width:130px;line-height:62px;height:62px;}
.mText1 dd{float:left;border-bottom:1px solid #ededed;text-align:left;padding:0 0 0 ;width:560px;line-height:62px;height:62px;}
.mText1 dd.row2{padding-top:11px;line-height:160%;height:51px;}

.mText2{margin:11px 0 0;}
.mText2 h4{color:#333;font-size:20px;margin:0 0 6px;}
.mText2 h4 em{display:block;font-size:15px;font-weight:bold;margin:-8px 0 0;}
.mText2 .txt{line-height:160%;text-align:justify;}

.mText3{margin:27px 0 0;}
.mText3 dl{border-bottom:1px solid #d6d6d6;}
.mText3 dt{border-top:1px solid #d6d6d6;color:#333;font-size:15px;}
.mText3 dt span{display:inline-block;border-top:2px solid #d6d6d6;font-weight:bold;min-width:38px;line-height:26px;height:28px;}
.mText3 dd{padding:0 0 30px;zoom:1;}
.mText3 dd:after{display:block;clear:both;content:''}
.mText3 dd .img{float:left;}
.mText3 dd .txt{line-height:160%;padding:5px 0 0 394px;text-align:justify;}

.mText4.t2{margin-top:10px;}
.mText4 h5{color:#333;font-size:15px;margin:0 0 10px;}
.mText4 h5.t2{font-size:16px;}
.mText4 .tit{color:#333;}
.mText4 .txt{line-height:160%;text-align:justify;}
.mText4 .img{color:#666;font-size:12px;margin:13px 0 0;}
.mText4 .img img{margin-bottom:6px;}
.mText4 dl{padding:9px 0 0;}
.mText4 dt{color:#333;font-weight:bold;font-size:15px;margin:11px 0 0;}
.mText4 dd{line-height:160%;text-align:justify;padding:0 0 0 18px;}
.mText4 dl.t2 dt{font-size:14px;margin-top:24px;padding:0 0 0 5px;}
.mText4 dl.t2 dt .ti1{display:block;font-size:16px;font-weight:bold;margin:0 0 6px -5px;}
.mText4 dl.t2 dd{padding:9px 0 0 23px;}
.mText4 dl.t2 dd .key{line-height:160%;margin:-8px 0 0 5px;}
.mText4 dl.t2 dd .img{margin:17px 0 0 -28px;zoom:1;}
.mText4 dl.t2 dd .img:after{display:block;clear:both;content:''}
.mText4 dl.t2 dd .img .lt,
.mText4 dl.t2 dd .img .rt{float:left;display:inline-block;text-align:center;width:50%;}


.mText5{border-top:2px solid #ededed;margin:30px 0 0;}
.mText5 dt{float:left;color:#000;font-size:20px;font-weight:bold;padding:10px 0 0 10px;width:69px;}
.mText5 .m{display:inline-block;color:#333;width:30px;}
.mText5 dd{border-bottom:1px solid #ededed;padding:18px 0 14px 78px;}

.mText5t2{border-top:2px solid #ededed;margin:30px 0 0;}
.mText5t2 dt{float:left;color:#000;font-size:13px;font-weight:bold;padding:18px 0 0 10px;width:100px;}
.mText5t2 dd{border-bottom:1px solid #ededed;padding:18px 0 14px 111px;}
.mText5t2 dd .ti{color:#333;}
.mText5t2 dd .ti.mtT1{display:block;margin:4px 0 -22px;}

.mText6{color:#333;font-size:15px;font-weight:bold;margin:14px 0 0;}

.mText7 dl{margin:24px 0 0;}
.mText7 dt{color:#333;font-size:20px;font-weight:bold;margin:0 0 6px;}
.mText7 dd{line-height:160%;margin:0 0 71px;}

.mText8{line-height:150%;margin:29px 0 0;text-align:justify;}
.mText8 .co1{border-bottom:1px solid #dfdfdf;color:#333;line-height:160%;text-align:justify;margin:0 0 26px;padding:0 0 23px;}
.mText8 .ti1{font-size:15px;padding:0 0 0 4px;}
.mText8 .co1 .taRight{text-align:right;}



.mMap1{margin:30px 0 0;}
.mMap1 iframe{border:1px solid #ccc;}

.mCompany1{background:url(../images/k_company1_v2.jpg) 0 100% no-repeat;line-height:160%;padding:14px 0 0;}
.mCompany1 .info{color:#333;font-weight:bold;line-height:150%;font-size:20px;margin:0 0 22px;}
.mCompany1 .sign{padding:51px 0 1px 100px;}
.mCompany1 .block{display:;}

.mPopup{position:relative;background-color:#fff;}
.mPopup .lg{position:absolute;top:48px;left:55px;}
.mPopup .txt{color:#333;font-size:18px;font-weight:bold;line-height:140%;text-align:center;padding:136px 0 70px;}

.txtEm1{color:#333;}
.txtFs12{font-size:12px;}


.btnMore{text-align:center;margin:40px 0 0;}
.btnMore a{display:inline-block;background:url(../images/ico_loading.png) 0 50% no-repeat;color:#000;font-weight:bold;font-size:17px;padding:0 0 0 34px;line-height:27px;height:27px;}

.mt21{margin-top:21px;}
.mt27{margin-top:27px;}
.mt45{margin-top:45px;}
.mt70{margin-top:70px;}
.mb50{margin-bottom:50px;}
.ls-1{letter-spacing:-1px;}

#hiddenContent{display:none;}

#map_popup {position:absolute;width:600px;height:600px;top:600px;left:50%;margin-left:-300px;background:#f0f0f0;z-index:202;display:none;padding:6px; background:url(../images/popup/bg_pop.gif);}
#map_popup .popup_header {height: 37px; overflow: hidden; background: #787878; box-shadow:0px 3px 3px #787878 inset;}
#map_popup .popup_header h1 {margin: 7px 0 0 13px; font-size: 16px; color: #FFFFFF;}
#map_popup .clse {position: absolute;top: 10px;right: 10px}
#pop_map {height:563px;width:600px;}

#bg_shadow {position:absolute;width:100%;height:1000px;top:0px;z-index:200;background-color:#000000;opacity:0.5;filter: alpha(opacity=50);display:none;}

#location_popup {position:absolute;width:600px;height:600px;top:600px;left:50%;margin-left:-300px;background:#f0f0f0;z-index:201;display:none;padding:6px; background:url(../images/popup/bg_pop.gif);}
#location_popup .popup_header {height: 30px; overflow: hidden; background: #787878; box-shadow:0px 3px 3px ##location_popup .popup_header inset;}
#location_popup .popup_header h1 {margin: 7px 0 0 13px; font-size: 16px; color: #FFFFFF;}
#location_popup .pop_bodyArea {border: 6px solid #787878; padding: 17px 13px 9px 13px; background:#fff;box-shadow:0px 3px 3px #787878 inset;}
#location_popup .terms_warp {height: auto;width: auto;border:1px solid #b9b7b3;padding:20px 30px;box-shadow:2px 3px 3px #e0e0e0 inset;font-size:11px;color: #707070;line-height: 19px; font-weight:bold;}
#location_popup .clse {position: absolute;top: 10px;right: 10px}
#location_popup .btn_center {padding: 6px 0 0;text-align: center;}
#location_popup .tit_address {font-size:15px; padding-bottom:5px;}
#location_popup .acc-hidden{position:absolute;clip:rect(1px);/*IE6,7*/clip:rect(1px,1px,1px,1px);}
#location_popup .hand_no{cursor:default;}

.mImage21{margin:30px 0 0;}
.mImage21 h4{color:#333;font-size:15px;margin:0 0 5px;}
.mImage21 ul{padding:0 0 0 10px;}
.mImage21 dl{border-top:2px solid #ededed;border-bottom:1px solid #ededed;margin:20px 0 0;padding:0 0 10px;}
.mImage21 dt{border-bottom:1px solid #ededed;color:#333;padding:0 0 0 10px;line-height:46px;height:46px;}
.mImage21 dd{padding:10px 0 0 22px;}

.mobile .mCompany1 .block{display:block;}
.mobile .mKeymain .jcarousel-control-prev{left:30px;}
.mobile .mKeymain .jcarousel-control-next{right:30px;}

/* for chrome */
@media screen and (-webkit-min-device-pixel-ratio:0){
	.mNews .jcarousel{height:;}
}
